body {
  margin: 0;
  font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Avenir', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  width: 100vw;
  color: white;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #23272A;
}
.auth-form {
  width: 600px;
  padding: 30px;
  max-width: 100%;
  border-radius: 20px;
  background-color: #2C2F33;
  box-shadow: 0px 0px 10px black;
}
.auth-form label {
  display: block;
  margin-bottom: 25px;
}
.auth-form input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #d2d2d2;
}
.auth-form button {
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #030a24;
}
.auth-form button:hover {
  box-shadow: 0px 0px 3px black;
}
.auth-form button:disabled {
  color: darkgray;
  cursor: not-allowed;
  background-color: gray;
}
.auth-link-container {
  margin-top: 25px;
  margin-bottom: 25px;
}
.auth-link {
  color: gray;
  cursor: pointer;
  font-weight: bold;
}
.auth-link:hover {
  color: #5c5caa;
}
.error {
  color: #c40b0b;
  font-weight: bold;
}
.hide-UI {
  position: absolute;
  display: none;
}
.chat-container {
  flex: 1;
  height: 100%;
  display: flex;
}
.current-chat {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #2C2F33;

}
.no-chat-selected {
  display: flex;
  font-size: 42px;
  padding: 25px;
  color: white;
  align-self: center;
  border-radius: 10px;
  justify-content: center;
  background-color: #23272A;
  box-shadow: 0px 0px 3px black;
}
.side-bar {
  height: 100%;
  width: 300px;
}
.side-bar-header {
  height: 100px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  background-color: #121212;
  box-shadow: 0px 0px 2px black;
}
.chat-list-container {
  overflow-y: auto;
  height: calc(100% - 150px);
}
.no-chats-yet {
  padding: 15px;
}
.create-chat-button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 0px;
  background-color: #121212;
}
.chats-loading {
  height: 100%;
  position: relative;
}
.chat-list {
  display: flex;
  flex-direction: column;
}
.chat-list-item {
  display: flex;
  height: 75px;
  width: 100%;
  padding: 10px;

  align-items: center;
  box-shadow: 0px 0px 2px black;
  justify-content: space-between;
}
.selected-chat-item {
  background-color: #121212;
}
.chat-list-item-content {
  flex: 1;
  display: flex;
  cursor: pointer;
  color: white;
  align-items: center;
  justify-content: flex-start;
}
.chat-list-preview {
  margin-left: 10px;
}
.chat-list-item .selected,
.preview-message {
  font-size: 12px;
}
.chat-item-delete {
  width: 35px;
  cursor: pointer;
  text-align: right;
  visibility: hidden;
}
.chat-list-item:hover {
  background-color: #121212;
}
.chat-list-item:hover .chat-item-delete {
  visibility: visible;
}
.chat-item-delete:hover {
  color: #cd0000;
}
.chat-toolbar {
  display: flex;
  min-height: 50px;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  background-color: #121212;
  justify-content: space-between;
}
.chat-header-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.add-user-icon {
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding-bottom: 5px;
}
.user-search .input {
  width: 100%;
}
.user-search .input .prompt,
.user-search .input .prompt:focus {
  border: none;
  outline: none;
  color: white;
  caret-color: white;
  background-color: #23272A;
  border-radius: 0px !important;
}
.user-search .input i {
  color: white !important;
}